html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: $navbar-height + 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: $navbar-height;
  line-height: $navbar-height;
  background-color: $navbar-default-bg;
  border-top: 1px solid $navbar-default-border;
  text-align: right;
}

.comment-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.comment {
  @extend .clearfix;

  & + & {
    margin-top: 15px;
  }

  .comment-info {
    width: 140px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .comment-content {
    padding: 10px;
    margin-left: 150px;
    background-color: $gray-lighter;
    border-radius: $border-radius-base;
  }

  .comment-date {
    @extend .text-muted;
    font-size: 80%;
  }
}

.star {
  font-size: 300%;
  color: #ffd700;
  text-shadow: 2px 2px 2px red;
  &:hover {
    color: #ffb700;
  }
}

.achievement {
  font-size: 500%;
  color: #009B48;
  text-shadow: 3px 3px 3px #FF7900;
  &:hover {
    color: #009E60;
  }
}
